body{
    background-color: rgb(39, 110, 216);
           
}

.elemento{color: rgb(240, 174, 158);text-align:center;}
.titulo_principal{color:rgb(218, 101, 218);font-size: 2em;text-align: center;font-weight:bolder;}
#tabla-inicio{color: rgb(236, 192, 141);font-size: 70;}
#parrafo{margin-left: 20;}
.imagenes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
.wrap{
    width: 90%;
    max-width: 1000px;
}
.widget{
    width: 40%;
    margin:2em;
}
.widget p{
    display: inline-block;
    line-height: 1em;
}
.fecha{
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;   
    background: rgba(0,0,0,.5);
    padding: 20px;
    width: 100%;
}
.reloj{
    font-style: italic;
     font-size: 2em;
     text-align: center;
     background: rgba(0,0,0,.5);
    padding: 20px;
    width: 100%;
}
.reloj .caja-segundos {
    display: inline-block;
    }
.reloj.segundos,
.reloj .ampm{
font-size: 1rem;
display: block;
}

.multiplicacion{
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;   
    background: rgba(0,0,0,.5);
    padding: 20px;
    width: 100%;
}
#costo{color: rgb(119, 43, 24);text-align:center; font-size: 1.5em;}
#botonformulario {font-size: 1cm; color:rgb(16, 16, 190); }
